{% extends "dashboard.html" %}


{% block cotnent %}
  <body class="overflow-x-hidden">
    <main class="d-flex">

      <div class="col-2 d-none d-md-block"></div>

      <div class="col-12 col-md-9 mx-auto">
        <!-- DASHBOARD SIDEBAR OFF CANVAS FOR SMALLER SCREEN TOGGLER-->
        

        <!-- Main content comes here -->
        <div class="d-flex justify-content-center py-4">
          <div class="bg-light rounded-5 shadow-lg py-3 px-3 w-100 table-responsive-lg">
            <table class="table table-light">
              <caption class="fw-bold fs-5 caption-top">All Bookings</caption>

              <thead>
                <tr>
                  <th scope="col">Ref</th>
                  <th scope="col">Car</th>
                  <th scope="col">Listed By</th>
                  <th scope="col">Date Booked</th>
                  <th scope="col">Start Date</th>
                  <th scope="col">End Date</th>

                  <th scope="col">Action</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <th>Spider</th>
                  <td>Mark</td>
                  <td>22/3/2024</td>
                  <td>22/3/2024</td>
                  <td>26/3/2024</td>

                  <td class="d-flex gap-1">
                    <span
                      class="bg-warning rounded-pill d-inline-block py-1 px-3"
                      ><a
                        href="/edit-booking.html"
                        class="text-white text-decoration-none"
                        >Edit</a
                      ></span
                    >

                    <!-- Button trigger modal -->
                    <button
                      type="button"
                      class="text-white rounded-pill border-0 d-inline-block py-1 px-3 bg-primary d-inline-block"
                      data-bs-toggle="modal"
                      data-bs-target="#exampleModal"
                    >
                      View
                    </button>

                    <span
                      class="bg-danger text-white rounded-pill d-inline-block py-1 px-3"
                      ><a href="" class="text-white text-decoration-none">
                        Cancel</a
                      ></span
                    >
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <th>IVM</th>
                  <td>John</td>
                  <td>21/3/2024</td>
                  <td>21/3/2024</td>
                  <td>26/3/2024</td>

                  <td class="d-flex gap-1">
                    <span class="bg-warning rounded-pill d-inline-block py-1 px-3">
                      <a href="" class="text-white text-decoration-none">Edit</a>
                    </span>

                    <!-- Button trigger modal -->
                    <button type="button" class="text-white rounded-pill border-0 d-inline-block py-1 px-3 bg-primary d-inline-block" data-bs-toggle="modal" data-bs-target="#exampleModal">View</button>

                    <span
                      class="bg-danger text-white rounded-pill d-inline-block py-1 px-3">
                      <a href="" class="text-white text-decoration-none">Cancel</a>
                    </span >
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </main>

    <!-- Modal For transactions detail -->
    <div
      class="modal fade"
      id="exampleModal"
      tabindex="-1"
      aria-labelledby="exampleModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header align-items-start">
            <div class="modal-title" id="exampleModalLabel">
              <h1 class="fs-5">Ref:: 2</h1>
              <p>Car:: <span class="fw-semibold">Spider</span></p>
            </div>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div
              class="d-flex img-wrapper align-items-center justify-content-center rounded-5 overflow-hidden shadow"
            >
              <img
                src="./asset/images/hero.webp"
                class="img-fluid h-100"
                alt=""
              />
            </div>
            <div class="pt-3">
              <h4>Transaction Details</h4>
              <div class="d-flex gap-2">
                <p class="fs-5 fw-medium">Listed By:</p>
                <p class="fs-5">John Doe</p>
              </div>
              <div class="d-flex gap-2">
                <p class="fs-5 fw-medium">Price:</p>
                <p class="fs-5">$40/day</p>
              </div>
              <div class="d-flex gap-2">
                <p class="fs-5 fw-medium">Booked On:</p>
                <p class="fs-5">3/3/2025</p>
              </div>
              <div class="d-flex gap-2">
                <p class="fs-5 fw-medium">Duration:</p>
                <p class="fs-5">3 days</p>
              </div>
              <hr />
              <div class="d-flex gap-2">
                <p class="fs-5 fw-medium">Total:</p>
                <p class="fs-5 price fw-medium">$120</p>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-secondary"
              data-bs-dismiss="modal"
            >
              Close
            </button>
          </div>
        </div>
      </div>
    </div>

    <footer class="py-5 bg-secondary text-white">
      <div class="container-sm">
        <div class="">
          <h4 class="special fw-medium fs-4">Cab2Rent</h4>
          <p>
            Revolutionizing the car rental and booking industry by leveraging
            the power of peer-to-peer (P2P)
          </p>
        </div>
      </div>
      <hr />
      <div class="container-sm">
        <p>
          &copy; 2024 <span class="special fw-medium fs-5">Cab2Rent</span>. All
          rights reserved.
        </p>
      </div>
    </footer>
    <script src="./node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="./js/script.js"></script>
  </body>
</html>
{% endblock cotnent %}
